*
!.bashrc
!.gitignore

!.config/enviroment.d/
!.config/kitty/
!.config/nushell/
!.config/nvim/
!.config/sway/
!.config/systemd/user/
!.config/tofi/
!.config/waybar/

!.config/enviroment.d/*
!.config/kitty/*
!.config/nushell/*
!.config/nvim/*
!.config/sway/*
!.config/systemd/user/*
!.config/tofi/*
!.config/waybar/*
